<!-- Container for sidenav and page content -->
<ng-sidebar-container>

  <!-- Sidenav -->
  <!-- Can be closed by click on backdrop, esc key and click outside -->
  <ng-sidebar mode="push" keyClose="true" closeOnClickBackdrop="true" closeOnClickOutside="true"
    [(opened)]="openedSideNav" class="sidenavStyling">
    <div class="insideSideNav">

      <div>
        <ul class="ulSidenav">
          <li>
            <a routerLink="/rent">browse rentable rooms</a>
          </li>
          <br>
          <li>
            <a routerLink="/about">about Bearbnb</a>
          </li>
          <li>
            <a href="">legal hold</a>
          </li>
        </ul>
        <br>

        <p>made with &#10084; from the <a href="https://github.com/brokuto" target="_blank" class="bears">bears</a></p>
      </div>

    </div>
  </ng-sidebar>

  <!-- Sidenav contents -->
  <div ng-sidebar-content>
    <div class="container">

      <!-- Hamburger sidenav for closing and opening sidenav -->
      <div *ngIf="openedSideNav === true">
        <div (click)="toggleSidenav()">
          <img class="bear" src="../../../assets/icons/gummy-bear.png">
        </div>
      </div>
      <div *ngIf="openedSideNav === false">
        <div (click)="toggleSidenav()">
          <img class="bear" src="../../../assets/icons/gummy-bear-green.png">
        </div>
      </div>

      <div class="title">
        <h1 routerLink="/rent">Bearbnb</h1>
        <p class="whyTitle">why not stay at home?</p>
      </div>

      <div class="login">
        <!-- <h4>{{user.name}}</h4> -->
        <!-- <h4>
          <a routerLink="/login">
            Login
          </a>
        </h4> -->

        <h4>
          <a (click)="logout()">
            Logout
          </a>
        </h4>
      </div>

      <div class="container">
        <div *ngIf="router.url == '/about'">
          <app-about></app-about>
        </div>
        <div *ngIf="router.url == '/rent'">
          <app-objects></app-objects>
        </div>
      </div>

    </div>
  </div>
</ng-sidebar-container>
