<div class="container">
  <h2>Browse our rentable rooms</h2>
  <br>


  <div *ngIf="openModal === true">
    

    <div class="openModal">
      <a (click)="openModal = false" class="closeIcon" uk-icon="close"></a>
      <h2>Rent room number <h1 class="roomNumber">{{ modalId }}</h1></h2>

      
    </div>
    <div class="backdrop"></div>
  </div>


  <div class="cardsContainer">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
        <div id="1" (click)="getId(1)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="2" (click)="getId(2)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="3" (click)="getId(3)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="4" (click)="getId(4)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="5" (click)="getId(5)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
  </div>





</div>
