@import '../../../styles.scss';

.container {
  margin: 40px;
}

.cardsContainer {
  height: 90vh;
}

.cardCursor {
  cursor: pointer;
}

.cardImgs {
  max-height: 601px;
}

.uk-child-width-1-2\@m>* {
  width: 30%;
}

.openModal {
  z-index: 999;
  position: absolute;
  background: white;
  padding: 5vh;
  margin: 0 auto;
  top: 10vh;
  bottom: 10vh;
  left: 20vh;
  right: 20vh;
}

.backdrop {
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 85vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.closeIcon {
  float: right;
}

.roomNumber {
  margin-top: -5vh;
  margin-left: 286px;
  font-size: 5vh;
}
