<div class="container">
  <h2>Browse our rentable rooms</h2>
  <br>


  <div *ngIf="openModal === true">


    <div class="openModal">
      <a (click)="openModal = false" class="closeIcon" uk-icon="close"></a>
      <h2>Rent room number <h1 class="roomNumber">{{ modalId }}</h1>
      </h2>

      <div *ngIf="modalId === 1">
        <h3>The flower room</h3>
        <br>

        <!-- slider -->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
          <ul class="roomSlider uk-slider-items uk-grid">
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/sakura.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/sakura.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/sakura.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/sakura.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/sakura.jpg" alt="">
              </div>
            </li>
          </ul>

          <a class="arrowSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="arrowSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <!-- slider end -->

      </div>

      <div *ngIf="modalId === 2">
        <h3>The honey room</h3>
        <br>

        <!-- slider -->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
          <ul class="roomSlider uk-slider-items uk-grid">
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/honey.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/honey.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/honey.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/honey.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/honey.jpg" alt="">
              </div>
            </li>
          </ul>

          <a class="arrowSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="arrowSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <!-- slider end -->

      </div>

      <div *ngIf="modalId === 3">
        <h3>The fish room</h3>
        <br>

        <!-- slider -->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
          <ul class="roomSlider uk-slider-items uk-grid">
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/fish.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/fish.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/fish.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/fish.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/fish.jpg" alt="">
              </div>
            </li>
          </ul>

          <a class="arrowSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="arrowSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <!-- slider end -->

      </div>

      <div *ngIf="modalId === 4">
        <h3>The tree room</h3>
        <br>

        <!-- slider -->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
          <ul class="roomSlider uk-slider-items uk-grid">
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/tree.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/tree.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/tree.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/tree.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/tree.jpg" alt="">
              </div>
            </li>
          </ul>

          <a class="arrowSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="arrowSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <!-- slider end -->
      </div>

      <div *ngIf="modalId === 5">
        <h3>The pillow room</h3>
        <br>

        <!-- slider -->
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
          <ul class="roomSlider uk-slider-items uk-grid">
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/pillows.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/pillows.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/pillows.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/pillows.jpg" alt="">
              </div>
            </li>
            <li class="uk-width-3-4">
              <div class="uk-panel">
                <img src="../../../assets/img/pillows.jpg" alt="">
              </div>
            </li>
          </ul>

          <a class="arrowSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="arrowSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <!-- slider end -->
      </div>

    </div>
    <div class="backdrop" (click)="openModal = false"></div>
  </div>


  <div class="cardsContainer">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
        <div id="1" (click)="getId(1)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="2" (click)="getId(2)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="3" (click)="getId(3)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="4" (click)="getId(4)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div>
        <div id="5" (click)="getId(5)" class="cardCursor uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img class="cardImgs" src="../../../assets/img/koala.jpg" alt="">
          </div>
          <div class="uk-card-body uk-card-hover uk-card">
            <h3 class="uk-card-title">Rentabale item 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
  </div>





</div>
