<div class="container">
  <h1>About</h1>

  <br>
  <p>We're the bears amongst the bnb's.</p>
  <br>
  <p>We're strong and loyal to our cubstomers. We also guarantee you a very safe stay.</p>
  <br>
  <p>All of our homes are hand-made, freshly painted and 100% cozy. You can rent one of our amazing and beautiful homes
    <br>
    whenever you want. Just chose whatever meets your honey desires the most off of a variety of stays.
  </p>
  <br>
  <p>We want you to feel safe and strong inside your new pot of honey or hole or tree.</p>
  <br>
  <p>If you have any questions or regards towards us, please feel free to contact us via
    <a href="mailto: celina.urwank@outlook.com">honeybear@bearbnb.com</a>.
  </p>

</div>
