@import '../../../styles.scss';

.registerCard {
  margin: 0 auto;
  position: absolute;
  top: 27vh;
  left: 20vh;
  right: 20vh;
  bottom: 27vh;
}

button {
  background-color: $crayola;
}

button:hover {
  background-color: $deeptaupe;
}
