<div class="registerCard uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <form [formGroup]="registerForm">
    <fieldset class="uk-fieldset">

      <legend class="uk-legend">Register</legend>

      <div class="uk-margin form-group">
        <input type="email" formControlName="email" class="uk-input" type="text" placeholder="E-Mail">
      </div>

      <div class="uk-margin form-group">
        <input type="password" class="uk-input" formControlName="password" type="password" placeholder="Password">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
      <br>

      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (expire)="handleExpire()"
        (load)="handleLoad()" (success)="handleSuccess($event)" [useGlobalDomain]="false" [size]="size" [hl]="lang"
        [theme]="theme" [type]="type" formControlName="recaptcha">
      </ngx-recaptcha2>
      <br>

      <button type="submit" (click)="tryRegister(registerForm.value)"
        class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Register</button>

      <div class="uk-margin form-group">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
      <br>

    </fieldset>
  </form>

</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div> -->
