/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Bellota', cursive;
  color: #74615e;
  margin: 0;
}

h1 {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Monoton';
  color: #e7636c;
  text-shadow: 4px 2px #a7ccae;
}

$carmine-pink: #e7636c;
$cambridge-blue: #a7ccae;
$goldenrod-yellow: #f7f6cd;
$crayola: #e7b995;
$deeptaupe: #74615e;
